<div *ngIf="!game" class="start">
  <h1>Tetra Kard</h1>
  <ul>
    <li>
      <button class="start-btn" (click)="continue()" *ngIf="saved">Continue</button>
    </li>
    <li>
      <button class="start-btn" (click)="new()">New Game</button>
    </li>
    <li>
      <a class="start-btn" [routerLink]="['/settings']">Settings</a>
    </li>
    <li>
      <a class="start-btn" [routerLink]="['/credits']">Credits</a>
    </li>
  </ul>
</div>

<div *ngIf="game">
  <button (click)="reset()">Reset</button>
</div>

<div *ngIf="game && game == 'tetra'" class="container">
  <!-- TETRA BOARD -->
  tetra
</div>

<div *ngIf="game && game == 'bactemon'">
  <!-- BACTEMON BOARD -->
  <bactemon-board></bactemon-board>
</div>
