<div class="card card-{{card.type}} position-{{position}}" *ngIf="card"
  [@cardHand]="handState"
  [@cardHover]="hoverState"
  (mouseover)="toggleState()"
  (mouseout)="toggleState()"
  (click)="onClick()">
  <div class="inner {{card.owner}}" *ngIf="card.type != 'abstract'">
    <div class="element element-{{card.element.type}}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-fw fa-stack-1x fa-{{card.element.fa}}" aria-hidden="true"></i>
      </span>
    </div>
    <p class="title text-center">
      {{card.name}}
    </p>
    <p class="left">
      {{card.values.left | number}}
    </p>
    <p class="top">
      {{card.values.top | number}}
    </p>
    <p class="right">
      {{card.values.right | number}}
    </p>
    <p class="bottom">
      {{card.values.bottom | number}}
    </p>
  </div>
  <div class="inner {{card.highlight}}" *ngIf="card.type == 'abstract'">
    <p>
      TetraKard
    </p>
  </div>
</div>
