@mixin yellow {
  background: rgb(255,255,136) !important;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,136,1) 0%, rgba(255,255,136,1) 100%) !important;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,136,1) 0%,rgba(255,255,136,1) 100%) !important;
  background: radial-gradient(ellipse at center,  rgba(255,255,136,1) 0%,rgba(255,255,136,1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=1 ) !important;
}

@mixin stone {
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn;
}

.old {
  .card {
    .inner {

      .element {
        position: absolute;
        top: 6px;
        left: 6px;
        font-size: 0.8em;
        color: black;
        .fa-circle {
          color: silver;
        }
      }
      .element-wood,
      .element-earth {
        .fa-circle {
          color: sienna;
        }
        color: white;
      }
      .element-water {
        .fa-circle {
          color: royalblue;
        }
        color: white;
      }
      .element-lava,
      .element-fire {
        .fa-circle {
          color: firebrick;
        }
        color: yellow;
      }
      .element-air {
        .fa-circle {
          color: lightcyan;
        }
        color: grey;
      }
      .element-magnetic,
      .element-metal {
        .fa-circle {
          color: lightgrey;
        }
        color: white;
      }
      .element-life {
        .fa-circle {
          color: anticwhite;
        }
        color: lightpink;
      }
      .element-death {
        .fa-circle {
          color: black;
        }
        color: white;
      }
      .element-void {
        .fa-circle {
          color: purple;
        }
        color: white;
      }
      .element-psy {
        .fa-circle {
          color: lightblue;
        }
        color: black;
      }
      .element-time {
        .fa-circle {
          color: grey;
        }
        color: black;
      }
    }
  }

  .highlight {
    @include yellow;
  }
}


/*************************************************/
.card2 {
  .inner {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
    p {
      margin: 0;
      padding: 0;
    }
  }

  .card-wrapper {
    perspective: 800px;
  }

  .card-box {
    position: relative;
    width: 140px;
    height: 160px;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  .card-side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    border: solid rgba(222,184,135,0.4) 4px;
  }
  .card-front,
  .card-blue,
  .card-pink {
    .inner {
      .title {
        position: absolute;
        bottom: 4px;
        left: -4px;
        width: 140px;
        font-size: 0.9em;
        text-align: center;
        color: white;
        box-shadow: 0 0 1px rgba(0,0,0,0.3);
      }
      .left,
      .top,
      .right,
      .bottom {
        position: absolute;
        text-align: center;
        width: 10px;
      }
      .left {
        bottom: 45px;
        left: 20px;
      }
      .right {
        bottom: 45px;
        right: 20px;
      }
      .top {
        bottom: 60px;
        right: 60px;
      }
      .bottom {
        bottom: 25px;
        right: 60px;
      }
      .element {
        position: absolute;
        top: 6px;
        right: 6px;
        font-size: 0.8em;
        color: black;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
        .fa-circle {
          color: lightgrey;
          text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
        }
      }
      .element-earth {
        color: rgb(244,164,96);
        .fa-circle {
          color: brown;
        }
      }
      .element-water {
        color: rgb(0, 132, 150);
        .fa-circle {
          color: rgb(34, 204, 226);
        }
      }
      .element-fire {
        color: rgb(226, 56, 34);
        .fa-circle {
          color: rgb(226, 184, 34);
        }
      }
      .element-air {
        color: lightgrey;
        .fa-circle {
          color: white;
        }
      }
      .element-metal {
        color: darkslategrey;
        .fa-circle {
          color: silver;
        }
      }
      .element-life {
        color: rgb(255,69,0);
        .fa-circle {
          color: rgb(230, 255, 242);
        }
      }
      .element-death {
        color: rgb(250,250,250);
        .fa-circle {
          color: rgb(36, 0, 64);
        }
      }
      .element-void {
        color: rgb(226, 68, 207);
        .fa-circle {
          color: rgb(73, 0, 65);
        }
      }
      .element-psy {
        color: rgb(114, 255, 201);
        .fa-circle {
          color: rgb(226, 68, 128);
        }
      }
      .element-time {
        color: rgb(52, 36, 36);
        .fa-circle {
          color: rgb(255, 248, 231);
        }
      }
    }
  }
  .type-mana {
    @include stone;
    .element {
      top: 45px !important;
      right: 0px !important;
      width: 100% !important;
      font-size: 1.4em !important;
      text-align: center;
    }
    .title {
      background-color: darkslategrey;
    }
    border-color: rgba(45,45,45,0.7);
  }
  .type-common {
    .title {
      background-color: grey;
    }
    border-color: rgba(45,45,45,0.7);
  }
  .type-uncommon {
    .title {
      background-color: rgb(205, 127, 50);
    }
    border-color: rgba(155,77,0,0.7);
  }
  .type-rare {
    .title {
      background-color: rgb(89, 130, 213);
    }
    border-color: rgba(89, 130, 213, 0.8);
    box-shadow: 0 0 10px dodgerblue;
  }
  .type-epic {
    .title {
      background-color: purple;
    }
    box-shadow: 0 0 10px magenta;
    border-color: rgba(128, 0, 128, 0.8);
  }
  .type-legendary {
    .title {
      background-color: orange;
    }
    box-shadow: 0 0 10px gold;
    border-color: rgba(225, 135, 0, 0.8);
  }
  .card-back {
    transform: rotateY(180deg);
    background-color: peru;
    .inner {
      background-color: sandybrown;
      line-height: 152px;
      color: chocolate;
      text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
      .left,
      .top,
      .right,
      .bottom {
        display: none;
      }
    }
  }
  .card-front {
    background-color: lightgrey;
  }
  .card-blue {
    background-color: skyblue;
  }
  .card-pink {
    background-color: lightpink;
  }
}
