<div class="container">
  <p>
    {{title}}
    <i class="fa fa-fw fa-angle-right" aria-hidden="true"></i>
    <a [routerLink]="['/cardlist']">List of cards</a>
    <i class="fa fa-fw fa-angle-right" aria-hidden="true"></i>
    <button class="btn btn-sm btn-danger" (click)="onReset()">Restart</button>
    <span class="adversary">{{board.score.adversary}}</span>
    -
    <span class="user">{{board.score.user}}</span>
  </p>

  <div class="board">
    <div class="four-tiles" *ngFor="let row of board.getBoard(); let i = index">
      <div *ngFor="let card of row; let j = index">
        <card
          class="float"
          [card]="card"
          (selected)="onBoardCardSelected(i, j)">
        </card>
      </div>
    </div>
  </div>
</div>

<div class="hand">
  <card *ngFor="let card of hand; let i = index"
    class="float"
    [card]="card"
    [inHand]="true"
    [state]="blue"
    [position]="i"
    (selected)="onCardSelected(i)">
  </card>
</div>

<div class="win-text user" *ngIf="board.hasPlayerWon()">
  YOU WIN
</div>

<div class="win-text adversary" *ngIf="board.hasAdversaryWon()">
  YOU LOSE
</div>
