@mixin orange-radial {
  background: rgb(246,230,180);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=1 );
}

@mixin pale-orange-radial {
  background: rgb(234,185,45);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=1 );
}

.board {
  text-align: center;
  .four-tiles {
    clear: both;
    overflow: hidden;
    width: 630px;
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
    @include orange-radial;
    border-left: sienna solid 5px;
    border-right: sienna solid 5px;
  }
  .four-tiles:first-of-type {
    padding-top: 10px;
    border-top: sienna solid 5px;
  }
  .four-tiles:last-of-type {
    padding-bottom: 10px;
    border-bottom: sienna solid 5px;
  }
}

.adversary,
.user {
  width: 10px;
  padding: 8px 4px;
  font-family: 'Orbitron', sans-serif;
  color: rgba(0,0,0,0.6);
}

.adversary {
  background-color: lightpink;
}

.user {
  background-color: skyblue;
}

.win-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 5em;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 30px rgba(0,0,0,0.4), 0 0 2px grey;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: rgb(251,251,251);
}

.float {
  float: left;
  margin: 0 5px;
}

@media screen and (orientation:portrait) {
  .hand {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    @include pale-orange-radial;
  }
}

@media screen and (orientation:landscape) {
  .hand {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 170px;
    @include pale-orange-radial;
  }
}
