.card {
  width: 130px;
  height: 180px;
  background: white;
  border-radius: 15px;
  font-size: 8px;
  padding: 5px;
  img {
    width: 100%;
    margin: 5px 0;
    pointer-events: none;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.card-misc {
  img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.card-black {
  border: black solid 5px;
}

.card-silver {
  border: silver solid 5px;
}

.card-deck {
  background-image: url('/assets/img/bacteria_pattern.jpg');
  margin: 0;
  border: rgba(0,40,10,0.8) solid 5px;
  p {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    color: rgb(169,225,115);
    font-size: 1.4em;
    font-family: 'Press Start 2p';
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
  }
}

.title {
  text-align: center;
  font-weight: bold;
}

.subtext,
.legend {
  font-size: 7px;
}

.subtext {
  font-style: italic;
  text-align: center;
}

.gram {
  font-weight: bold;
}

.score {
  position: absolute;
  bottom: 3px;
  right: 3px;
  border: black solid 1px;
  border-radius: 100%;
  font-size: 12px;
  line-height: 14px;
  width: 16px;
  text-align: center;
}
